*{
  font-family: Arial;
  box-sizing:border-box;
  margin: 0px;
}
.container{
  margin: 0 auto;
  margin-top: 20px;
  width: fit-content;
}
.left-section{
  float: left;
  font-size: 15px;
}
.right-section{
  float: right;
  margin-top: 5px;
}
.right-section input{
  padding: 5px 5px;
}
.right-section input ,span{
  font-size: 15px;
}
.clear-float{
  clear: both;
}
.left-section select{
  padding: 5px 7px;
  text-align: center;
  font-size: 15px;
  margin-right: 5px;
}

/* table */
.table-section{
  margin-top: 13px;
}
table{
  font-size: 17px;
}
.table-section table th,td{
  text-align: left;
  padding: 5px 2px;
}
/* table header */
thead th{
  cursor: pointer;
  width: 105px;
}
thead th:hover{
  background-color: white;
  box-shadow: 1px 2px 0.5px rgba(0, 0, 0, 0.3);
}
.buttonContainer{
  font-size: 10px;
  color: lightgray;
  float: right;
}
.active{
  color: black;
}
/* table body */
.white-row{
  background-color: white;
}
.gray-row{
  background-color: lightgray;
}
.editButton,.deleteButton{
  color: white;
  background-color: blueviolet;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
/* droplist */
.dropList{
  width: 80px;
  font-size: 18px;
}